<ul>可以用的網站：
<li><%= link_to "http://www.yantengzw.com/","http://www.yantengzw.com/"%></li>
<li><%= link_to "http://bookapp.book.qq.com/","http://bookapp.book.qq.com/"%></li>
<li><%= link_to "http://www.zizaidu.com/big5","http://www.zizaidu.com/big5"%></li>
<li><%= link_to "http://www.4hw.com.cn/","http://www.4hw.com.cn/"%></li>
<li><%= link_to "http://read.shanwen.com/","http://read.shanwen.com/"%></li>
<li><%= link_to "http://shushu.com.cn/","http://shushu.com.cn/"%></li>
</ul>

<h1>重新 Crawl Article Text</h1>

<%= form_for "", :url => crawl_text_onther_site_articles_path({:article_id => @article.id}), data: { confirm: 'Are you sure?' }, :method => :put do |f|%>

  <%= f.label :parse_url %>:
  <%= f.text_field "url" %>
<%= f.submit "crawl" %>
<% end %>

<br>#########################################################################<br>

<h1> Reset Num Article</h1>

<%= form_for "", :url => reset_num_articles_path({:article_id => @article.id,:novel_id => @article.novel_id}), :method => :put do |f|%>

<%= f.text_field "num" %> ex: 22
<%= f.submit "set" %>
<% end %>


#########################################################################<br>
<h1> Edit Article</h1>

<%= form_for @article do |f|%>
  
  <%= f.label :text %>:
  <%= f.text_area :text , :cols => "400"%><br />

  <%= f.label :link %>:
  <%= f.text_field :link %><br />

  <%= f.label :title %>:
  <%= f.text_field :title %> ex: 第一章 如你所願 <br />

  <%= f.label :subject %>:
  <%= f.text_field :subject %> ex: 噩盡島1 <br />

  <%= f.label :num %>
  <%= f.text_field :num %> ex: 1 <br />

  <%= f.label "show" %>
  <%= f.text_field :is_show %> ex: (true =1, false = 0) <br />

  <%= f.submit %>

<% end %>



