<!DOCTYPE html>
<html>
<head>
  <title>NovelServer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>
    <%= link_to 'Logout', logout_path %>
    <%= link_to 'Novels', novels_path %>
    <%= link_to '推薦類別總覽', recommend_categories_path %> <br>
<% end %>

<%= yield %>

</body>
</html>
